@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Grape+Nuts&family=Heebo:wght@300&family=Lemon&display=swap");


/* utility */
html,* {
  font-size: 20px;
  font-family: 'Bree Serif', serif;
  font-weight: lighter;
}

.App{
  height: 100vh;
}