h1 {
  font-size: 4rem;
  font-family: "Grape Nuts", cursive;
  font-weight: 600;
  color: #6183a7;
}
h2 {
  font-size: 1.8rem;
  font-family: "Bree Serif", serif;
  color: #212121ba;
}
p {
  font-size: 1.2rem;
  color: #846e67;
}

/* Home */
#Home {
  margin: 1rem 2rem 0rem;
  position: relative;
  min-height: 100vh;
  background-color: #dcdbff87;
  /* border-radius: 0 0 4rem 4rem; */
  box-shadow: 13px 13px 20px #cbced1, -13px 13px 20px #cbced1,
    13px -13px 20px #cbced1, -13px -13px 20px #cbced1;
}
#Home_body {
  min-height:100vh;
}
#Home_body::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background: url("./home_bg2.webp") no-repeat center center/cover;
  z-index: -1;
  opacity: 0.9;
}
nav {
  overflow: auto;
  border-bottom: 0.8px solid #6183a7;
  box-shadow: 13px 13px 20px #dcdbff87, -13px -13px 20px #fff;
}
.nav-right {
  float: right;
}
.btn {
  border: 1px solid #a8a5f421;
  font-size: 0.9rem;
}
.wrapper {
  width: 100%;
  padding: 2rem;
  background-color: #ffffffbc;
  border-radius: 10px;
  /* border-radius: 0 0 4rem 4rem; */
  box-shadow: -13px -13px 20px #dcdbff87, 13px 13px 20px #938787;
}
.last_login span {
  font-size: 0.8rem;
  color: #846e67;
}

.last_login_btn {
  text-decoration: none;
  font-size: 0.8rem;
  color: #2223229e;
  border: none;
  background: none;
}
.last_login_btn:hover {
  font-size: 0.9rem;
  color: #2d2e31;
}
@media only screen and (max-width: 1200px) {
    html{
        font-size: 19px;
    }
}
@media only screen and (max-width: 1000px) {
  
    #Home{
        margin: 0;
    }
    #Home_body{  
        height: max-content;
    }
    .wrapper{
        width: 50%!important;
        padding: 40px;
    }
    
}
@media only screen and (max-width: 600px) {
    html{
        font-size: 15px;
    }
    #Home{
        margin:0;
    }
    #Home_body{  
        height: max-content;
    }
    .wrapper{
        width: 85%!important;
        padding: 30px 20px;
    }
  
    
}

@media only screen and (max-width: 400px) {
    html{
        font-size: 12px;
    }
    *{
        overflow: hidden;
    }
    .wrapper{
        width: 90%!important;
        padding: 30px 20px;
    }
    #Home h1{
        font-size: 3.5rem;
    }
}